<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DoctorInfo</title>
</head>
<body>
    <form method="get" action="/addDoctor">
        <h1>DOCTORINFO</h1>
        <div>
            <input type="text" name="doctorname" placeholder="Enter Name"/>
            <input type="text" name="specialist" placeholder="Specialist"/>
            <input type="number" name="contact" placeholder="Enter Contact"/>
            <input type="age" name="age" placeholder="Enter Age"/>
            <input type="submit" name="submit" value="Submit"/>
        </div>
    </form>
    <table>
        <tr>
            <th>Doctor Name</th>

            <th>Specialist</th>

            <th>Doctor Contact</th>

            <th>Age</th>
        </tr>
        {% for d in doctor%}
        <tr>
            <td>{{d.dname}}</td>
            <td>{{d.dspecialist}}</td>
            <td>{{d.dcontact}}</td>
            <td>{{d.dage}}</td>
            <td><a href="/delete/{{d.id}}">Delete</a> </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>